<div    flex="" layout="row" layout-align="start center">
  <div  style="background-color: #039be5;border-radius: 99%;height:25px;width:25px;line-height: 25px;font-size:14px; color:black;text-align: center;">
    <span>  <md-icon class="md-24"  >directions_walk</md-icon> </span></div>
  <div >
    <div class="md-body-2 td-step-label">
      <span>תהליכים</span>
    </div>
    <div   class="md-caption td-step-sublabel">
      30 תהליכים 4 קריטיים
    </div>
  </div>

  <md-divider md-inset></md-divider>
  <div  style="background-color: rgba(0,0,0,.38);border-radius: 99%;height:24px;width:24px;line-height: 24px;font-size:14px; color:black;text-align: center;">
    <span>  <md-icon class="md-18"  >warning</md-icon> </span></div>
  <div >
    <div class="md-body-2 td-step-label">
      <span>סיכונים</span>
    </div>
    <div   class="md-caption td-step-sublabel">
      30 תהליכים 4 קריטיים
    </div>
  </div>
  <md-divider md-inset></md-divider>

  <div  style="background-color:rgba(0,0,0,.38);border-radius: 99%;height:24px;width:24px;line-height: 24px;font-size:14px; color:black;text-align: center;">
    <span>  <md-icon class="md-18"  >event_busy</md-icon> </span></div>
  <div >
    <div class="md-body-2 td-step-label">
      <span>אירועים</span>
    </div>
    <div   class="md-caption td-step-sublabel">
      30 תהליכים 4 קריטיים
    </div>
  </div>
  <md-divider md-inset></md-divider>

  <div  style="background-color:rgba(0,0,0,.38);border-radius: 99%;height:24px;width:24px;line-height: 24px;font-size:14px; color:black;text-align: center;">
    <span>  <md-icon class="md-18"  >build</md-icon> </span></div>
  <div >
    <div class="md-body-2 td-step-label">
      <span>תוכניות הפחתה</span>
    </div>
    <div   class="md-caption td-step-sublabel">
      30 תהליכים 4 קריטיים
    </div>
  </div>


  <span   flex=""></span>
</div>
